*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#general{
    display: flex;
    justify-content: center;
}

#container{
    margin: auto;
    width: 250px;
    background-color: rgba(100, 100, 100, 0.9);
    padding: 20px;
    border-radius: 20px;
}

.input-area{
    width: 200px;
}

.divBook{
    border: 2px solid black;
    padding: 500px;
    background-color: aquamarine;
    display: none;
}

/* Library-section */
#library-container{
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: 7rem 7rem 7rem;
    justify-content: space-evenly;
    background-image: url(images/empty-wooden-shelves-vector.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1000px;
    height: 46vw;
    padding: 30px;
    grid-row-gap: 6rem;
    grid-column-gap: 4rem;
}

#library-container>div {
    background-color: rgba(250, 0, 0, 0.5);
    padding: 50px;
}

.book-pic {
    background-image: url(images/single_book.png);
}