*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#general{
    display: flex;
    justify-content: center;
}

#container{
    margin: auto;
    width: 250px;
    background-color: rgba(100, 100, 100, 0.9);
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
}

.input-area{
    width: 200px;
}

.divBook{
    border: 2px solid black;
    padding: 500px;
    background-color: aquamarine;
    display: none;
}

/* Library-section */
#library-container{
    background-image: url(images/empty-wooden-shelves-vector.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1000px;
    height: 46vw;
    padding: 5px 40px 10px 40px;
    font-size: 14px;
}

#flex-container{
    display: flex;
    flex-wrap: wrap;
}

.book {
    background-color: antiquewhite;
    width: 110px;
    margin: 5px 5px 65px 5px;
    min-height: 135px;
}
